
body {
	font-family: sans-serif;
}

.content {
	width: 500px;
	margin: 0 auto;
}

table {
	width: 100%;
	padding: 20px;
}

td {
	background: #eef
}

.population {
	width: 70%;
}

.footer {
	padding: 20px 0;
	border-top: 2px solid black;
}

.footer-aplogo {
	width: 125px;
}

